body {
	font-family: 'Helvetica', sans-serif;
	font-weight: 350;
	color: #fff;
}

header .row {
	display: flex;
	align-items: center;
}

footer .row {
	display: flex;
	align-items: center;
}

header {
	padding: 5px;
	background-color: black;
	color: #fff;
}

header h1 {
	font-weight: 700;	
}

#navbar {
	width: 100%;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 5px 0 0 0;
	font-weight: bold;
}

.jumbotron {
	display: flex;
	align-items: center;
	background: linear-gradient(blue, green);
	color: #fff; 
	height: 400px;
	text-shadow: 0.75px 0.75px 0.75px #000000;
}

.jumbotron h2 {
	font-size: 60px;
	font-weight: 700;	
	color: #fff;
}

#objective {
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

section .row img {
	margin: 0 0 30px;
	width: 100%;
	border-radius: 10px;
}

section .row p {
	font-weight: 400;
	font-size: 15px;	
}

section .col-sm-12 {
	display: inline-block;
}

section .col-sm-4 h3 {
	font-weight: 700;
}

section .col-sm-8 h3 {
	font-weight: 700;
}

section .col-sm-12 h3 {
	font-weight: 700;
}

section .col-sm-12 ul {
	font-size: 15px;
}

#company {
	font-size: 16px;
	margin-left: 22px;
	margin-right: 22px;
	float: left;
	display: block;
	font-weight: bold;
}

#title {
	font-size: 16px;
	float: right;
	display: block;
	font-style: italic;
}

#date {
	font-size: 16px;
	margin-left: 22px;
}

section .col-sm-12 ul {
	margin-bottom: 25px;
}


section .col-sm-4 ul {
	display: inline-block;
}

section .col-sm-4 li {
	font-size: 16px;
}



footer {
	font-size: 13px;
	padding: 20px 0;
}
